* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  object-fit: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: Sora, sans-serif;
  background-image: url("background_marketplace.jpg");
  background-repeat: no-repeat;
}

input,
select,
textarea {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  border: none;
}

textarea {
  height: 5rem;
}

label {
  align-self: flex-start;
  margin-left: 4.9rem;
}

#createNewListingBtn {
  position: absolute;
  top: 7.3rem;
  left: 45%;
  width: 150px;
  height: 35px;
  margin: 15px;
}

#newListingForm {
  opacity: 0;
  background-color: #996648;
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  gap: 10px;
  border-radius: 0.5rem;
}

#createListingFormBtn {
  margin-top: 2.5rem;
  width: 5rem;
  height: 35px;
}

#listingArea {
  display: flex;
  position: absolute;
  top: 24%;
  left: 30%;
  gap: 2px;
}

.listingCard {
  background-color: #996648;
  width: 11rem;
  height: 8rem;
  margin: 5px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  color: #f0f8ff;
}

button {
  height: fit-content;
  width: 64px;
  padding: 4px;
  opacity: 0.6;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  color: black;
  background: white;
  transform: scale(1.1);
  opacity: 1;
}

#buyGameBtn {
  width: 5.5rem;
  margin-top: 5px;
}
